<mat-nav-list>
  <div class="logo py-4">
    <img src="./assets/images/logo.png" alt="Company Logo" />
  </div>
  <mat-divider></mat-divider>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
    <mat-icon>dashboard</mat-icon> DASHBOARD
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/subjects">
    <mat-icon>class</mat-icon> SUBJECTS
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/students">
    <mat-icon>person</mat-icon> STUDENTS
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/teachers">
    <mat-icon>school</mat-icon> TEACHERS</a
  >
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/exams">
    <mat-icon>border_color</mat-icon> EXAMS
  </a>
</mat-nav-list>
